/* styles.css */

/* Add styles here to customize the appearance of your app */




#date{
    /*min-width: 400px;
    width: auto;*/
    width: -webkit-fill-available;
    font-size: smaller;
    font-weight: bold;
}

#total_price{
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
}

#total_price_index{
    font-weight: bold;
    font-size: large;
}

.total_price{
    margin-right: 2vw;
    margin-top: 1rem;
}

#backBtn, #submitBtn, #myButton{
    margin-bottom: 1rem;
    margin-right: 15px;
}

#submitDiv{
    padding-left: 0;
    padding-right: 0;
}

.rbNotFirst{
    padding-left: 2.25rem !important;
}

.radioButtons{
    display: inline-flex;
}

span{
    float: right;
    margin-right: 2vw;
}

#avto, #narocnik{
    font-weight: bold;
}

#potrdiBtn{
    margin-right: 2vw;
    margin-top: 2vh;
}

#backBtn2{
    margin-top: 2vh;
}

.placeholder-text{
    display: none;
}

#cardNoSafe{
    display:none;
}