/* styles.css */

/* Add styles here to customize the appearance of your app */




#date{
    /*min-width: 400px;
    width: auto;*/
    width: -webkit-fill-available;
    font-size: smaller;
    font-weight: bold;
}

#total_price{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 1rem;
}

#total_price_index{
    font-weight: bold;
    font-size: x-large;
}

.total_price{
    margin-right: 2vw;
    margin-top: 1rem;
}

#backBtn, #submitBtn, #myButton{

    margin-right: 15px;
}

#backBtn2{
    margin-right: 15px;
}

#submitDiv{
    padding-left: 0;
    padding-right: 0;
}

.rbNotFirst{
    padding-left: 2.25rem !important;
}

.radioButtons{
    display: inline-flex;
}

span{
    float: right;
    margin-right: 2vw;
}

#avto, #narocnik{
    font-weight: bold;
}

#potrdiBtn{
    margin-right: 2vw;
    margin-top: 2vh;
}

#backBtn2, #timeoutBtn{
    margin-top: 2vh;
}

.placeholder-text{
    display: none;
}

#cardNoSafe{
    display:none;
}

#timeout{
    float: none;
    margin-right: inherit;
}

/* #redirect{
    text-align: center;
} */

#redirect{
    text-align: center;
    display: table;
    margin-right: auto;
    margin-left: auto;
}

form, #summary, #redirect{
    border-radius: 15px;
    border: 2px solid lightslategray;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 15px;
}

#summary, #redirect{
    padding-bottom: 1rem;
}