/* styles.css */

/* Add styles here to customize the appearance of your app */




#date{
    /*min-width: 400px;
    width: auto;*/
    width: -webkit-fill-available;
    font-size: smaller;
    font-weight: bold;
}

#total_price{
    font-weight: bold;
    font-size: large;
    margin-bottom: 1rem;
}

#backBtn, #submitBtn{
    margin-bottom: 1rem;
}

#submitDiv, #backDiv{
    padding-left: 0;
    padding-right: 0;
}

.rbNotFirst{
    padding-left: 2.25rem !important;
}

.radioButtons{
    display: inline-flex;
}